PORT = 8000
MONGODB_USERNAME=""
MONGODB_PASSWORD=""
MONGODB_URI=""
CORS_ORIGIN = ""
ACCESS_TOKEN_SECRET = ""
ACCESS_TOKEN_EXPIRES_IN = 1d
REFRESH_TOKEN_SECRET = ""
REFRESH_TOKEN_EXPIRES_IN = 7d
CLOUDINARY_CLOUD_NAME = ""
CLOUDINARY_API_KEY = ""
CLOUDINARY_API_SECRET = ""
CLOUDINARY_URL=cloudinary://:@hmkzybiq